{% extends 'base.html.twig' %}






{% block body %}
{% include("menus/navigationAdmin.html.twig") %}
{% include("headers/header.html.twig") %}




     
<div class="container">
<auteur>

             <div class = "content">
                <img src="https://via.placeholder.com/300x200" alt="">

            <h2> {{ auteur.noms }}</h2>
            <h2> {{ auteur.prenoms }}</h2>
            {{auteur.adresse}}<br>        
            {{auteur.phone}}<br>        
            
            </div>      
                
       </user>      

</div>
{% endblock%}

{% block footer %} 


{% endblock%}