{% extends 'base.html.twig' %}






{% block body %}
    {% include("menus/navigationAdmin.html.twig") %}
{% include("headers/header.html.twig") %}




     
<div class="container">
<user>

             <div class = "content">
                <img src="https://via.placeholder.com/300x200" alt="">

            <h2> {{ users.nom }}</h2>
            <h2> {{ users.prenom }}</h2>
                
            {{users.ville}}        
            
            </div>      
                
       </user>      

</div>
{% endblock%}

{% block footer %} 


{% endblock%}