{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}

    { # Entete de la Page # }  
        <div class="example-wrapper">
         <h1> LES UTILISATEURS </h1>
    </div>

    { # Afichahe des Variables # }  
        {{ }}


{% endblock %}