{% extends 'base.html.twig' %}


{% block body %}

        {% include("menus/navigationAdmin.html.twig") %}

        {% include("headers/header.html.twig") %}
    <div>
        <h1> catalogue admin </h1>
    </div>
{% endblock %}

{% block footer %} 
{% endblock%}