{% extends 'base.html.twig' %}


{% block body %}

        {% include("menus/navigationAdmin.html.twig") %}

        {% include("headers/header.html.twig") %}
    <div>
        
        <div class="container">
        
            <h1> ARTICLES Admin </h1>

            {% for article in articles %}

                Titre:  {{ article.titre }} <br>
                    Auteur :{{ article.auteur }} <br>
                    
                    Resumé: {{ article.resume }} <br><br><br>
                    
                    {{ article.contenu }} <br><br><br>

            {% endfor %}


    </div> 
    </div>
{% endblock %}

{% block footer %} 
{% endblock%}