{% extends 'base.html.twig' %}


{% block body %}

        {% include("menus/navigation.html.twig") %}
        {% include("headers/header.html.twig") %}
    <div>
        <h1> Gestion des Payments
         </h1>
    </div>
{% endblock %}

{% block footer %} 
{% endblock%}